<!-- Target for toggling the sidebar `.sidebar-checkbox` is for regular
     styles, `#sidebar-checkbox` for behavior. -->
<input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox">

<!-- Toggleable sidebar -->
<div class="sidebar" id="sidebar">
  <div class="sidebar-item">
    <img src="/public/images/kawanoshinobu.jpg" class="avatar"/>
    <p>{{ site.description }}</p>
    <p>
      <div>
        <i class="fa fa-github fa-fw"></i>
        <a href="https://github.com/kawanoshinobu" target="_blank">GitHub</a>
      </div>
      <div>
        <i class="fa fa-twitter fa-fw"></i>
        <a href="https://twitter.com/kawanoshinobu" target="_blank">Twitter</a>
      </div>
      <div>
        <i class="fa fa-instagram fa-fw"></i>
        <a href="http://instagram.com/kawanoshinobu" target="_blank">Instagram</a>
      </div>
<!--       <div>
          <i class="fa fa-microphone fa-fw"></i>
          <a href="http://senchacasts.fm" target="_blank">SENCHA CASTS</a>
      </div> -->
    </p>
  </div>
  <nav class="sidebar-nav">
    <a class="sidebar-nav-item" href="/atom.xml"><i class="fa fa-rss fa-fw"></i>RSS</a>
<!--     <a class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="/">Home</a> -->

<!--     {% comment %}
      The code below dynamically generates a sidebar nav of pages with
      `layout: page` in the front-matter. See readme for usage.
    {% endcomment %} -->

<!--     <a class="sidebar-nav-item{% if page.url != '/about/' %} active{% endif %}" href="/">BLOG</a>
    <a class="sidebar-nav-item{% if page.url == '/archive/' %} active{% endif %}" href="/archive/">ARCHIVE</a>
    <a class="sidebar-nav-item{% if page.url == '/about/' %} active{% endif %}" href="/about/">ABOUT</a> -->

<!--     {% assign pages_list = site.pages %}
    {% for node in pages_list %}
      {% if node.title != null %}
        {% if node.layout == "page" %}
          <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ node.url }}">{{ node.title }}</a>
        {% endif %}
      {% endif %}
    {% endfor %} -->

<!--     <a class="sidebar-nav-item" href="{{ site.github.repo }}/archive/v{{ site.version }}.zip">Download</a> -->
<!--     <a class="sidebar-nav-item" href="{{ site.github.repo }}">GitHub project</a>
    <span class="sidebar-nav-item">Currently v{{ site.version }}</span> -->
  </nav>

  <div class="sidebar-item">
    <p>
      &copy; {{ site.time | date: '%Y' }}. All rights reserved.
    </p>
  </div>
</div>
